<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Solo frases</name>

    <description>
        Pequeña y básica App para guardar frases célebres
    </description>

    <author href="http://fsmanagersite.uphero.com" email="fans2606@gmail.com">
        web
    </author>

</widget>
